@use "../../../styles/partials/colours" as *;
@use "../../../styles/partials/mixins" as *;

.warehouse-details {
  padding: 1rem;
  background-color: $light-grey;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 0rem 8rem;
  }

  &__container {
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    background-color: $white;
    transform: translateY(-4.5rem);

    @include tablet {
      transform: translateY(-7rem);
    }

    @include desktop {
      transform: translateY(-5rem);
    }
  }

  &__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $cloud;
  }

  &__wrapper {
    width: 50%;
    display: flex;
  }

  &__title {
    margin-left: 0.5rem;
  }

  &__link {
    padding-top: 0.3rem;
  }

  &__back-icon {
    height: 1.25rem;
  }
}

.warehouse-info {
  padding: 1rem;

  @include tablet {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $slate;
  }

  &__content {
    color: $instock-black;
  }

  &__container {
    margin-bottom: 2rem;
  }

  &__wrapper {
    display: flex;

    @include tablet {
      width: 60%;
    }
  }

  &__left {
    width: 50%;

    @include tablet {
      border-left: 1px solid $cloud;
      padding-left: 2rem;
    }
  }

  &__right {
    width: 50%;
  }
}
