@use "./mixins" as *;

$font-stack: "Titillium Web", sans-serif;

h1 {
  font-size: 28px;
  line-height: 36px;
  @include tablet {
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-size: 20px;
  line-height: 28px;
  @include tablet {
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-size: 13px;
  line-height: 20px;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

h4 {
  font-size: 11px;
  line-height: 16px;
  @include tablet {
    font-size: 12px;
    line-height: 18px;
  }
}

.body-large {
  font-size: 15px;
  line-height: 26px;
  @include tablet {
    font-size: 16px;
    line-height: 28px;
  }
}

.body-medium {
  font-size: 13px;
  line-height: 20px;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

.body-small {
  font-size: 11px;
  line-height: 16px;
  @include tablet {
    font-size: 12px;
    line-height: 18px;
  }
}
