@use "../../../styles/partials/colours" as *;
@use "../../../styles/partials/mixins" as *;

.inventory-item {
  background-color: $light-grey;
  padding: 1rem 1rem 0 1rem;

  @include tablet {
    padding: 2rem 2rem 0 2rem;
  }

  @include desktop {
    padding: 1rem 8rem 0 8rem;
  }

  &__container {
    background-color: $white;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    transform: translateY(-4.5rem);

    @include tablet {
      transform: translateY(-6rem);
    }
  }

  &__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $cloud;
  }

  &__wrapper {
    width: 30%;
    display: flex;
  }

  &__title {
    margin-left: 0.5rem;
  }

  &__link {
    padding-top: 0.3rem;
  }

  &__back-icon {
    height: 1.25rem;
  }
}

.item-detail {
  padding: 1rem;

  &__title {
    color: $slate;
  }

  &__description {
    color: $instock-black;
  }

  &__container {
    padding-bottom: 1rem;
  }
}
